@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@theme {
  /* ------ Container part ---------- */
  --breakpoint-*: initial;
  --breakpoint-sm: 570px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 990px;
  --breakpoint-xl: 1270px;
/* ------Color Theme ------- */
  --color-orange: #FD6F00;
  --color-whiteDark: #959595;

  /* ------------ text font theme ----------- */
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  
}

body{
    background-color: #121212;
}

.bg-gradient-orange {
  background: linear-gradient(to right, #FD6F00, #E46400);
}
