/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@theme {
  /* ------ Container part ---------- */
  --breakpoint-*: initial;
  --breakpoint-sm: 570px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 990px;
  --breakpoint-xl: 1270px;
/* ------Color Theme ------- */
  --color-orange: #FD6F00;
  --color-whiteDark: #959595;
  --color-bgcart: #1b1b1b;

  /* ------------ text font theme ----------- */
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  
}

body{
    background-color: #121212;
    /* font-family: "Poppins", sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}


.bg-benar{
  background-image: url("./assets/Vector.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-gradient-orange {
  background: linear-gradient(to right, #FD6F00, #E46400);
}
